extends ../../layouts/default.pug 

block headerLink 
    link(rel="stylesheet", href="/admin/css/style.css")
    link(rel="stylesheet", href="/admin/css/detailProduct.css")

block main 
    div(class="product-container")
        if(product.title)
            h1 #{product.title}

        if(product.thumbnail)
            div(class="product-thumbnail")
                img(src=product.thumbnail, alt=product.title)

        if(product.price)
            p(class="product-price") Giá sản phẩm: <b>#{product.price}$</b>

        if(product.discountPercentage)
            p(class="product-discount") Giảm giá: <b>#{product.discountPercentage}%</b>

        if(product.stock) 
            p Còn lại: <b>#{product.stock}</b> sản phẩm 

        if(product.status =="active")
            span(class="badge bg-success") Hoạt động 
        else   
            span(class="badge bg-danger") Dừng hoạt động 

        if(product.position)
            p(class="product-position") Vị trí: #{product.position} 

        if(product.description)
            p #{product.description}

