extends ../../layouts/default.pug 
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block headerLink 
    link(rel="stylesheet", href="/admin/css/style.css")
    link(rel="stylesheet", href="/admin/css/editCategory.css")

block main
    +alert-success(4000)
    +alert-error(4000)
    h1(class="mb-4") Chỉnh sửa danh mục sản phẩm
    form(
        action=`${prefixAdmin}/products-category/edit/${record.id}?_method=PATCH`
        id="form-edit-category"
        method="POST"
        enctype="multipart/form-data"
    )
        div( class="form-group" )
            label(for="title") Tiêu đề 
            input(
                type="text"
                class="form-control tiny-mce-title"
                id="title"
                name="title"
                value = record.title
            )
        div( class="form-group" )
            label(for="parent_id") Danh mục cha
            select(
                name="parent_id" 
                id="parent_id" 
                class="form-control"
                )
                option(value="") -- Chọn danh mục-- 
                if(listNode)
                    +select-tree(listNode,1,record.parent_id)
        div( class="form-group" )
            label(for="desc") Mô tả
            textarea(
                class="form-control tiny-mce-textarea"
                id="desc"
                name="description"
                row="5"
            ) !{record.description}
        
 
        div( class="form-group preview" )
            label(for="thumbnail") Ảnh
            input(
                type="file"
                class="form-control-file"
                id="thumbnail"
                name="thumbnail"
                accept="image/*"
                preview-input-image
            )
            br
            img(
                src=record.thumbnail
                preview-image
            )
        div( class="form-group" )
            label(for="position") Vị trí
            input(
                type="number"
                class="form-control"
                id="position"
                name="position"
                placeHolder ="Tự động tăng"
                min="1"
                value=record.position
            )
        div( class="form-group form-check form-check-inline" )
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked =(record.status == "active"?true:false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động 
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(record.status == "inactive"?true:false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            )   Cập nhật
block footerLink
    script(
        type="application/javascript"
        src="/tinymce/tinymce.min.js"
        ) 
    script(
        type="application/javascript"
        src="/admin/js/tinymce-config.js"
        ) 
    script(src="/admin/js/script-editCategory.js") 

