extends ../../layouts/default.pug
include ../../mixins/box-head.pug

block main 
    .container.my-3 
        .row
            .col-12
                +box-head('Danh sách sản phẩm nè')

        .product-grid
            each item of products
                a(
                    href=`/products/detail/${item.slug}`
                    class="product-item"
                    style="text-decoration: none;"
                )
                    .inner-image
                        img(src=item.thumbnail alt=item.title )
                    .inner-content
                        h3.inner-title #{item.title}
                        .price
                            span.inner-price-new #{item.newPrice} VND
                            span.inner-price-old #{item.price} VND
                        .inner-discount-200 -#{item.discountPercentage}%